/autom4te.cache
/build-stamp
/config.guess
/config.log
/config.status
/config.sub
/configure
/debian/autoreconf.after
/debian/autoreconf.before
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/geoip
/debian/webalizer
/debian/webalizer.debhelper.log
/debian/webalizer.postrm.debhelper
/debian/webalizer.substvars
/stamp-h1
/aclocal.m4
/po/*.mo
/config.h
/Makefile
/Makefile.in
/version.c
/tools/autoconf/*
/install-sh
/webalizer
/webazolver
/wcmgr
/.deps/
